.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  &_theme {
    &_dark {
      margin-right: 0;
      color: var(--logo-dark-theme);
    }
    &_light {
      color: var(--logo-light-theme);
    }
  }
}
